<?xml version="1.0"?>

<config>
    <modules>
        <Grep_Signifyd>
            <version>1.0.0</version>
        </Grep_Signifyd>
    </modules>
    <global>
        <models>
            <grep_signifyd>
                <class>Grep_Signifyd_Model</class>
                <resourceModel>grep_signifyd_resource</resourceModel>
            </grep_signifyd>
            <grep_signifyd_resource>
                <class>Grep_Signifyd_Model_Resource</class>
                <entities>
                    <case>
                        <table>grep_signifyd_case</table>
                    </case>
                </entities>
            </grep_signifyd_resource>
        </models>
        <resources>
            <grep_signifyd_setup>
                <setup>
                    <module>Grep_Signifyd</module>
                    <class>Grep_Signifyd_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </grep_signifyd_setup>
            <grep_signifyd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </grep_signifyd_write>
            <grep_signifyd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </grep_signifyd_read>
        </resources>
        <helpers>
            <grep_signifyd>
                <class>Grep_Signifyd_Helper</class>
            </grep_signifyd>
        </helpers>
        <blocks>
            <grep_signifyd>
                <class>Grep_Signifyd_Block</class>
            </grep_signifyd>
        </blocks>
    </global>
    <frontend>
        <events>
            <model_save_after>
                <observers>
                    <grep_signifyd>
                        <class>grep_signifyd/observer</class>
                        <method>openCase</method>
                    </grep_signifyd>
                </observers>
            </model_save_after>
        </events>
    </frontend>
    <default>
        <grep_signifyd>
            <settings>
                <enabled>0</enabled>
            </settings>
            <log>
                <request>0</request>
                <response>0</response>
                <error>1</error>
            </log>
        </grep_signifyd>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <grep_signifyd>
                                            <title>Signifyd</title>
                                            <sort_order>9999</sort_order>
                                        </grep_signifyd>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
