<?xml version="1.0"?>

<config>
    <modules>
        <Signifyd_Connect>
            <version>3.4.2</version>
        </Signifyd_Connect>
    </modules>
    <global>
        <models>
            <signifyd_connect>
                <class>Signifyd_Connect_Model</class>
                <resourceModel>signifyd_connect_resource</resourceModel>
            </signifyd_connect>
            <signifyd_connect_resource>
                <class>Signifyd_Connect_Model_Resource</class>
                <entities>
                    <case>
                        <table>signifyd_connect_case</table>
                    </case>
                </entities>
            </signifyd_connect_resource>
        </models>
        <resources>
            <signifyd_connect_setup>
                <setup>
                    <module>Signifyd_Connect</module>
                    <class>Signifyd_Connect_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </signifyd_connect_setup>
            <signifyd_connect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </signifyd_connect_write>
            <signifyd_connect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </signifyd_connect_read>
        </resources>
        <helpers>
            <signifyd_connect>
                <class>Signifyd_Connect_Helper</class>
            </signifyd_connect>
        </helpers>
        <blocks>
            <signifyd_connect>
                <class>Signifyd_Connect_Block</class>
            </signifyd_connect>
        </blocks>
        <events>
            <model_save_after>
                <observers>
                    <signifyd_connect>
                        <class>signifyd_connect/observer</class>
                        <method>openCase</method>
                    </signifyd_connect>
                </observers>
            </model_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <signifyd_connect>
                <use>standard</use>
                <args>
                    <module>Signifyd_Connect</module>
                    <frontName>signifyd</frontName>
                </args>
            </signifyd_connect>
        </routers>
    </frontend>
    <default>
        <signifyd_connect>
            <settings>
                <enabled>0</enabled>
                <url>https://api.signifyd.com/v2</url>
            </settings>
            <advanced>
                <retrieve_score>0</retrieve_score>
                <show_scores>0</show_scores>
                <hold_orders>0</hold_orders>
                <hold_orders_threshold>500</hold_orders_threshold>
            </advanced>
            <log>
                <request>0</request>
                <response>0</response>
                <error>1</error>
            </log>
        </signifyd_connect>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <signifyd_connect>
                                            <title>Signifyd</title>
                                            <sort_order>9999</sort_order>
                                        </signifyd_connect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <eav_collection_abstract_load_before>
                <observers>
                    <signifyd_connect>
                        <model>signifyd_connect/observer</model>
                        <method>eavCollectionAbstractLoadBefore</method>
                    </signifyd_connect>
                </observers>
            </eav_collection_abstract_load_before>
            <core_collection_abstract_load_before>
                <observers>
                    <signifyd_connect>
                        <model>signifyd_connect/observer</model>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </signifyd_connect>
                </observers>
            </core_collection_abstract_load_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <signifyd_connect>
                        <model>signifyd_connect/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </signifyd_connect>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <signifyd_connect>
                        <model>signifyd_connect/observer</model>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </signifyd_connect>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>
